<div layout="column" id="home-download">
  <div layout-padding>
    <div flex-offset="15" flex-offset-xs="5" layout="row" layout-align="center" layout-wrap>
      <div flex="90" class="md-color"  layout-align="start">
        <p class="md-title">Download เอกสาร</p>
      </div>
      <div flex="90"  layout-align="center">
        <ul class="md-subhead">
          <li>
            <a href="http://drug.fda.moph.go.th/zone_admin/files/RDU%20final_220615.pdf" target="_blank">
                Rational Drug Use Hospital Manual</a>
          </li>
          <li>
            <a href="https://drive.google.com/open?id=0B1e6dhPZ_kdVMzVKRnpBRW5JalU" target="_blank">ฉลากยาเสริม โดย กลุ่มโรงพยาบาล UHosNet</a>
          </li>
          <li>
            <a href="https://drive.google.com/file/d/0B1e6dhPZ_kdVTkRnaGU4YWRQeVk/view" target="_blank">ฉลากยาภาษาไทย โดย กลุ่มโรงพยาบาล UHosNet</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="divide-block"></div>
  </div>
</div>