<div layout="column" id="home">
    <md-content flex layout-padding>
        <section layout="row">
            <div flex-offset="5" flex="45">
                <p class="md-display-3 greeting-head" hide-xs hide-sm hide-md show-gt-md>
                    WELCOME TO <br />RATIONAL DRUG USE <br />HOSPITAL
                </p>
                <p class="md-display-1 greeting-head" hide-gt-md hide-xs show-sm show-md>
                    WELCOME TO <br />RATIONAL DRUG USE <br />HOSPITAL
                </p>
                <p class="md-headline greeting-head" hide-gt-xs>
                    WELCOME TO <br />RATIONAL DRUG USE <br />HOSPITAL
                </p>

                <span class="md-subhead greeting-sub">
                    "โรงพยาบาลส่งเสริมการใช้ยาอย่างสมเหตุผล"
                </span>
            </div>
            <div flex="50" class="greeting-image">
                <img ng-src="/images/home/rdu-main.png" alt="RDU" />
            </div>
        </section>

    </md-content>
    <div class="divide-block"></div>
    <md-content>
        <section layout="row">
            <div flex-offset="5" flex="90" layout-align="center center">
                <div class="owl-carousel owl-theme">
                    <div><img ng-src="/images/home/feed/feed1.jpg" alt="feed 1"></div>
                    <div><img ng-src="/images/home/feed/feed2.jpg" alt="feed 2"></div>
                    <div><img ng-src="/images/home/feed/feed3.jpg" alt="feed 3"></div>
                </div>
            </div>
        </section>
    </md-content>
    <div class="divide-block"></div>
    <md-subheader>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>
                <span>ความรู้สู่ประชาชน</span></h3>
            </div>
        </md-toolbar>
    </md-subheader>
    <md-content layout-padding>
        <section layout="column" layout-gt-sm="row">
            <div flex-offset="5" flex-gt-sm="35">
                <p>
                    <h3> โครงการได้จัดทำคำแนะนำสำหรับการดูแลด้านยา เพื่อความปลอดภัยของผู้ป่วยกลุ่มพิเศษ 6 กลุ่ม ได้แก่</h3>
                    <ol class="md-title">
                        <li>ผู้สูงอายุ</li>
                        <li>สตรีตั้งครรภ์</li>
                        <li>สตรีให้นมบุตร</li>
                        <li>ผู้ป่วยเด็ก</li>
                        <li>ผู้ป่วยโรคตับ</li>
                        <li>ผู้ป่วยโรคไตเรื้อรัง</li>
                    </ol>

                </p>
                <div flex-offset="5">
                    <a ng-href="/#/knowledge/people" alt="more">เพิ่มเติม &gt; &gt;</a>
                </div>
            </div>
            <div class="divide-block"></div>
            <div flex-offset="5" flex-offset-gt-sm="10" flex-gt-sm="50">
                <h3>สื่อมัลติมีเดีย</h3>

                <div layout-xs="column" layout="row">
                    <div flex-offset="5" flex-sm="55" flex-md="45" flex-gt-md="35">
                        <iframe width="85%" ng-src="https://www.youtube.com/embed/mm5uWG4SdtI?list=PLhREouoExlICK7Rrpg2dh4pkT82Jv-zt1" frameborder="1" allowfullscreen></iframe>
                        <p>สภาวะปัจจุบันของระบบสุขภาพกับการใช้ยาของผู้ป่วย</p>
                    </div>
                    <div flex-offset="5" flex-sm="55" flex-md="45" flex-gt-md="35">
                        <iframe width="85%" src="https://www.youtube.com/embed/QhbDSeKM5Z0" frameborder="0" allowfullscreen></iframe>
                        <p>การใช้ยาในโรคหวัด</p>
                    </div>
                </div>
                <div layout-xs="column" layout="row">
                    <div flex-offset="5" flex-sm="55" flex-md="45" flex-gt-md="35">
                        <iframe width="85%" src="https://www.youtube.com/embed/M3aEPkrHTm0?list=PLhREouoExlICK7Rrpg2dh4pkT82Jv-zt1" frameborder="0" allowfullscreen></iframe>
                        <p>ปัญหาจากการใช้ยาที่มากเกินไป การใช้ยาซ้ำซ้อน หรือการใช้ยาหมดอายุ</p>
                    </div>
                    <div flex-offset="5" flex-sm="55" flex-md="45" flex-gt-md="35">
                        <iframe width="85%" src="https://www.youtube.com/embed/kMrV3s0TQJE" frameborder="0" allowfullscreen></iframe>
                        <p>การใช้ยาในโรคท้องเสีย</p>
                    </div>
                </div>
                <div flex-offset="5">
                    <a ng-href="/#/home/media" alt="more">เพิ่มเติม &gt; &gt;</a>
                </div>
            </div>
        </section>
    </md-content>
    <div class="divide-block"></div>
    <md-subheader>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3><span>ประมวลภาพกิจกรรม</span></h3>
            </div>
        </md-toolbar>
    </md-subheader>
    <md-content layout-padding>
        <section layout="column" layout-gt-sm="row">
            <div flex-offset="5" flex-gt-sm="50">
                <div layout="column" layout-gt-xs="row">
                    <a flex-sm="50" flex-md="80" flex-gt-md="60" ng-if="ctrl.db.hasImage" ng-repeat="img in ctrl.db.files track by $index" ng-href="{{img.urlLink}}" target="_blank">
                        <div class="event-image" style='background-image: url("{{img.urlShow}}");'>
                        </div>
                    </a>
                </div>
                <a ng-if="ctrl.db.hasImage" ng-href="{{ctrl.db.seemore}}" target="_blank" alt="more">เพิ่มเติม &gt; &gt;</a>

            </div>
            <div class="divide-block"></div>
            <div flex-offset-xs="0" flex-offset="5" flex-gt-sm="30" layout="row" layout-align="center start">

                <img hide-xs flex="15" ng-src="/images/home/calendar.png" alt="calendar" />

                <div flex-sm="75" flex-gt-sm="85"> <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=rduhos%40gmail.com&amp;color=%231B887A&amp;ctz=Asia%2FBangkok"
                        style="border-width:0" width="100%" height="315" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </section>
    </md-content>
    <div class="divide-block"></div>
    <md-subheader>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3><span>Link ที่เกี่ยวข้อง</span></h3>
            </div>
        </md-toolbar>
    </md-subheader>
    <md-content layout-padding>
        <section layout="column" layout-gt-sm="row">

            <div flex-offset-xs="10" flex-offset-gt-xs="5" flex-gt-sm="55" layout="row" layout-xs="column">
                <div flex layout-align="start center" layout="row">
                    <img flex="30" flex-xs="15" ng-src="/images/home/downloads.png" alt="download เอกสาร">
                    <a ng-href="/#/home/download" flex>
                        <h3 flex-offset="5">download เอกสาร</h3>
                    </a>
                </div>
                <div show-xs hide class="divide-block"></div>
                <div flex-offset="5" flex-offset-xs="0" flex layout-align="start center" layout="row">
                    <img flex="30" flex-xs="15" ng-src="/images/home/book.png" alt="RDU curriculum">
                    <a href="#" flex>
                        <h3 flex-offset="5">RDU curriculum</h3>
                    </a>
                </div>
            </div>

            <div flex-offset-xs="10" flex-offset-gt-xs="5" flex-gt-sm="35">
                <ul>
                    <li>
                        <h4>เครือข่ายโรงพยาบาล</h4></li>
                    <li>
                        <a href="http://www.fda.moph.go.th/" target="_blank"><h4>สำนักงานคณะกรรมการอาหารและยา</h4></a>
                    </li>
                    <li>
                        <a href="http://www.hsri.or.th/" target="_blank">
                            <h4>สถาบันวิจัยระบบสาธารณสุข</h4>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.gpo.or.th/" target="_blank">
                            <h4>องค์การเภสัชกรรม</h4>
                        </a>
                    </li>
                    <li>
                        <a href="http://med.mahidol.ac.th/poisoncenter/" target="_blank">
                            <h4>ศูนย์พิษวิทยารามาธิบดี</h4>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.si.mahidol.ac.th/th/division/shtc/Home_shtc.html" target="_blank">
                            <h4>งานพิษวิทยา โรงพยาบาลศิริราช</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </md-content>
    <div class="divide-block"></div>
    <md-subheader>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3><span>จัดทำโดย</span></h3>
            </div>
        </md-toolbar>
    </md-subheader>
    <md-content layout-padding>
        <section>
            <div flex-offset="5" flex="90">
                <md-grid-list md-cols="3" md-cols-sm="6" md-cols-md="9" md-cols-gt-md="12" md-row-height="1:1" md-gutter="10px">
                    <md-grid-tile ng-repeat="logo in ctrl.logo.sponsors track by $index" md-colspan="1" md-rowspan="1">
                        <img flex="90" ng-src="{{ctrl.logo.path+logo.image}}" alt="{{logo.name}}">

                    </md-grid-tile>
                </md-grid-list>
            </div>
        </section>
    </md-content>
    <div class="divide-block"></div>
    <md-subheader>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3><span>สนับสนุนโดย</span></h3>
            </div>
        </md-toolbar>
    </md-subheader>
    <md-content flex layout-padding>
        <section>
            <div flex-offset="5" flex="90">
                <md-grid-list md-cols="3" md-cols-sm="6" md-cols-md="9" md-cols-gt-md="12" md-row-height="1:1" md-gutter="10px">
                    <md-grid-tile ng-repeat="logo in ctrl.logo.supports track by $index" md-colspan="1" md-rowspan="1">
                        <img flex="90" ng-src="{{ctrl.logo.path+logo.image}}" alt="{{logo.name}}">

                    </md-grid-tile>
                </md-grid-list>
            </div>
        </section>
    </md-content>
</div>