<div layout="column">
    <md-content flex layout-padding>
        <section layout="row">
            <div flex-offset="5" flex="45">
                <p class="md-display-3 greeting-head" hide-xs hide-sm hide-md show-gt-md>
                    WELCOME TO <br />RATIONAL DRUG USE <br />HOSPITAL
                </p>
                <p class="md-display-1 greeting-head" hide-gt-md hide-xs show-sm show-md>
                    WELCOME TO <br />RATIONAL DRUG USE <br />HOSPITAL
                </p>
                <p class="md-headline greeting-head" hide-gt-xs>
                    WELCOME TO <br />RATIONAL DRUG USE <br />HOSPITAL
                </p>

                <p class="md-subhead greeting-sub">
                    "โรงพยาบาลส่งเสริมการใช้ยาอย่างสมเหตุผล"
                </p>
            </div>
            <div flex="50" class="greeting-image">
                <img ng-src="/images/home/rdu-main.png" alt="RDU" />
            </div>
        </section>

    </md-content>
    <md-content>
        <section layout="row">
            <div flex-offset="5" flex="90" layout-align="center center">
                <div class="owl-carousel">
                    <div><img ng-src="/images/home/feed/feed1.jpg" alt="feed 1"></div>
                    <div><img ng-src="/images/home/feed/feed2.jpg" alt="feed 1"></div>
                    <div><img ng-src="/images/home/feed/feed3.jpg" alt="feed 1"></div>
                </div>
            </div>
        </section>
    </md-content>
    <div class="divide-block"></div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
        <span>ความรู้สู่ประชาชน</span>
      </h3>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        <section layout="column" layout-gt-sm="row">
            <div flex-offset="5" flex="90" flex-gt-sm="45">
                <p>
                    <h3> โครงการได้จัดทำคำแนะนำสำหรับการดูแลด้านยา เพื่อความปลอดภัยของผู้ป่วยกลุ่มพิเศษ 6 กลุ่ม ได้แก่</h3>
                    <ol>
                        <li>ผู้สูงอายุ</li>
                        <li>สตรีตั้งครรภ์</li>
                        <li>สตรีให้นมบุตร</li>
                        <li>ผู้ป่วยเด็ก</li>
                        <li>ผู้ป่วยโรคตับ</li>
                        <li>ผู้ป่วยโรคไตเรื้อรัง</li>
                    </ol>
                    <a ng-href="#link" alt="more">เพิ่มเติม &gt; &gt;</a>
                </p>
            </div>
            <div flex-offset="5" flex="90" flex-gt-sm="45">
                <h3>สื่อมัลติมีเดีย</h3>
            </div>
        </section>
    </md-content>
    <div class="divide-block"></div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
        <span>ประมวลภาพกิจกรรม</span>
      </h3>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        <section layout="column" layout-gt-sm="row">
            <div flex-offset="5" flex="90" flex-gt-sm="30">
                A
            </div>
            <div flex-offset="5" flex="90" flex-gt-sm="30">
                B
            </div>
            <div flex-offset="5" flex="90" flex-gt-sm="30">
                C
            </div>
        </section>
    </md-content>
    <div class="divide-block"></div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
        <span>จัดทำโดย</span>
      </h3>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        <label>logo</label>
    </md-content>
</div>