<div layout="column">
    <md-content flex layout-padding>
        <section layout="row">
            <div flex-offset="5" flex="45">
                <p class="md-display-3 greeting-head" hide-xs hide-sm hide-md show-gt-md>
                    WELCOME TO <br />RATIONAL DRUG USE <br />HOSPITAL
                </p>
                <p class="md-display-1 greeting-head" hide-gt-md hide-xs show-sm show-md>
                    WELCOME TO <br />RATIONAL DRUG USE <br />HOSPITAL
                </p>
                <p class="md-headline greeting-head" hide-gt-xs>
                    WELCOME TO <br />RATIONAL DRUG USE <br />HOSPITAL
                </p>

                <p class="md-subhead greeting-sub">
                    "โรงพยาบาลส่งเสริมการใช้ยาอย่างสมเหตุผล"
                </p>
            </div>
            <div flex="45" class="greeting-image">
                <img ng-src="/images/home/rdu-main.png" alt="RDU" />
            </div>

        </section>
    </md-content>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
        <span>Title</span>
      </h3>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        <section>
            <label for="">Hello</label>
        </section>
    </md-content>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
        <span>Title 2</span>
      </h3>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        <section>
            <label for="">Hello 2</label>
        </section>
    </md-content>
</div>