<md-sidenav md-component-id="left" class="md-sidenav-left" hide-gt-xs>
    <md-toolbar>
        <span class="md-headline md-toolbar-tools">รายการ</span>
    </md-toolbar>
    <md-content layout-padding>
        <md-list class="md-list custom">
            <md-list-item>
                <md-button flex="100" ng-click="layout.navigate('/')" aria-label="หน้าหลัก   ">
                    หน้าหลัก </md-button>
            </md-list-item>
            <md-list-item>
                <md-button flex="100" ng-click="layout.navigate('/aboutus')" aria-label="เกี่ยวกับโครงการ">
                    เกี่ยวกับโครงการ</md-button>
            </md-list-item>
            <md-list-item>
                <md-button flex="100" ng-click="layout.navigate('/knowledge/people') " aria-label="ความรู้สำหรับ ประชาชน ">
                    ความรู้สำหรับ ประชาชน
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button flex="100" ng-click="layout.navigate('/knowledge/healthcare') " aria-label="ความรู้สำหรับ บุคลากร ทางการแพทย์">
                    ความรู้สำหรับ บุคลากร ทางการแพทย์
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button flex="100" ng-click="layout.navigate('/member') " aria-label="สำหรับคณะทำงาน UHOSNET">
                    สำหรับคณะทำงาน UHOSNET
                </md-button>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                <md-button flex="100" ng-click="layout.navigate('/contactus')" aria-label="ติดต่อเรา">
                    ติดต่อเรา</md-button>
            </md-list-item>
        </md-list>



    </md-content>
</md-sidenav>