<div layout="column" id="member">
  <div flex layout-padding>
    <div layout="row" class="divide-block"></div>
    <div layout="row" layout-align="center">
      <div flex="30" flex-md="40" flex-sm="50" flex-xs="75">
        <md-card>
          <md-card-title layout-align="center">
            <i hide-xs class="material-icons md-color md-48">verified_user</i>
          </md-card-title>
          <md-card-content>
            <div class="center">
              <h1>Activation Successfully !</h1>
            </div>
          </md-card-content>
           <md-card-actions layout="row" layout-align="center">
              <md-button class="md-raised md-primary" ng-click="ctrl.next()">Next</md-button>
            </md-card-actions>
          <div class="divide-block"></div>
        </md-card>
      </div>
    </div>
  </div>
</div>