<div layout="column" id="knowledge-healthcare-label">
  <div flex layout-padding>
    <div layout="row" layout-wrap>
      <div flex="100" class="md-color" layout="row" layout-align="center">
        <div flex="70" flex-sm="45" layout="row" layout-align="center" layout-align-sm="start center">
          <p class="md-title">ฉลากยา และฉลากยาเสริม</p>
        </div>
        <div flex-offset="5" flex="15" flex-lg="20" flex-md="30" flex-sm="25" hide-xs>
          <md-input-container md-no-float>
            <label for="findLabel">ค้นหาชื่อยา</label>
            <input name="findLabel" type="type" aria-label="name" ng-keypress="ctrl.labelKeypress($event)">
          </md-input-container>
        </div>
      </div>
      <div flex="100" layout="row" layout-align="center">
        <div flex="70" flex-sm="100" flex-xs="100">
          <div layout="row" layout-align="center" class="md-bg-color">
            <h4 class="md-subhead">โรงพยาบาลส่งเสริมการใช้ยาอย่างสมเหตุผล</h4>
          </div>
          <div layout="row" layout-wrap layout-padding>
            <div flex-gt-md="50" flex="100" >
              <label class="md-title">ชือยา</label>
              <p class="input-box">{{ctrl.currentLabel.drug_name | defaultDash}}</p>
            </div>
            <div flex-gt-md="50"  flex="100">
              <label class="md-title">ข้อบ่งใช้</label>
              <p class="input-box">{{ctrl.currentLabel.term_of_use | defaultDash}}</p>
            </div>
            <div flex-gt-md="50"  flex="100">
              <label class="md-title">คำเตือน</label>
              <p class="input-box">{{ctrl.currentLabel.warning_label | defaultDash}}</p>
            </div>
            <div flex-gt-md="50"  flex="100">
              <label class="md-title">ฉลากยาเสริม</label>
              <p class="input-box">{{ctrl.currentLabel.remark | defaultDash}}</p>
            </div>
            <div flex="100" >
              <label class="md-title">หมายเหตุ</label>
              <p class="md-body-1 input-box">{{ctrl.currentLabel.text_label | defaultDash}}</p>
            </div>
          </div>
        </div>
        <div flex-offset="5" flex="15" flex-lg="20" flex-md="30" hide-sm hide-xs layout="column">
          <md-button class="md-raised md-primary" ng-repeat="dg in ctrl.drugLabel track by $index" ng-click="ctrl.chooseLabel(dg.drug_name)">{{dg.drug_name}}</md-button>
        </div>
      </div>
    </div>
  </div>
</div>