#aboutus .sidenav.custom .md-button {
    width: 88%;
}

#aboutus .md-body-2 {
    font-size: 16px;
}

#aboutus .md-menu-container {
    margin-bottom: 15px;
}

#aboutus .rounded {
    border-radius: 15px;
    padding: 15px 20px;
}

#aboutus .question {
    color: white;
    background-color: #73AD21;
    text-align: left;
    text-indent: 0;
}

#aboutus .answer {
    font-size: 16px;
    color: white;
    background-color: #4FB7CD;
    text-align: justify;
    text-indent: 45px;
}