#knowledge-people .small-menu,
#knowledge-healthcare-update .small-menu {
    left: 10px
}

#knowledge-healthcare .image-label {
    background-color: rgba(0, 0, 0, 0.30);
    color: white;
    text-align: center;
    padding: 5px;
}

#knowledge-healthcare-label .md-list-scroll {
    height: 530px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#knowledge-healthcare-label md-input-container {
    margin: 10px 0;
}

#knowledge-healthcare-label .select-drug {
    min-width: 200px;
}

#knowledge-healthcare-update .md-button {
    height: auto;
    white-space: initial;
}

#knowledge-healthcare-update .md-button-scroll {
    max-height: 680px;
    overflow-x: hidden;
    overflow-y: scroll;
}

@media (min-width: 960px) and (max-width: 1279px) {
    #knowledge-healthcare-label .md-list-scroll {
        height: 800px;
    }
}