<div layout="column" id="aboutus">
    <md-content flex layout-padding>
        <section>
            <div flex-offset="5" flex-offset-xs="0" layout="row" layout-xs="column" flex-xs="95">
                <div layout="column" layout-xs="row" flex="20" flex-sm="25" flex-gt-md="15" hide-xs>
                    <md-button class="md-raised md-primary" ng-click="ctrl.showSection('project')">ที่มาโครงการฯ</md-button>
                    <md-button class="md-raised md-primary" ng-click="ctrl.showSection('keys')">กุญแจ PLEASE</md-button>
                    <br hide show-xs />
                    <md-button class="md-raised md-primary" ng-click="ctrl.showSection('manual')">คู่มือการทำงาน</md-button>
                    <md-button class="md-raised md-primary" ng-click="ctrl.showSection('faq')">คำถามที่พบบ่อย</md-button>
                </div>
                <div hide show-xs flex="100">
                    <md-menu>
                        <md-button aria-label="Open Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <i class="material-icons md-color">chrome_reader_mode</i>
                        </md-button>
                        <md-menu-content width="2">
                            <md-menu-item>
                                <md-button ng-click="ctrl.showSection('project')"> <span>ที่มาโครงการฯ</span> </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showSection('keys')"> <span>กุญแจ PLEASE</span> </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showSection('manual')"> <span>คู่มือการทำงาน</span> </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showSection('faq')"> <span>คำถามที่พบบ่อย</span> </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div flex-offset="5" flex="75" flex-md="70" flex-sm="65" flex-xs="90" ng-include="ctrl.template"></div>
            </div>
        </section>
    </md-content>
    <div class="divide-block"></div>
</div>