<div layout="column" id="aboutus">
    <md-content flex layout-padding>
        <section>
            <div flex-offset="5" layout="row">
                <md-sidenav flex="10" class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-whiteframe="4">
                    <md-content flex layout-padding class="sidenav custom">
                        <div layout="column" flex>
                            <md-button class="md-raised md-primary">ที่มาโครงการฯ</md-button>
                            <md-button class="md-raised md-primary">กุญแจ PLEASE</md-button>
                            <md-button class="md-raised md-primary">คู่มือการทำงาน</md-button>
                            <md-button class="md-raised md-primary">คำถามที่พบบ่อย</md-button>
                        </div>
                    </md-content>
                </md-sidenav>
                <div flex-offset="5" flex="75">
                    <div flex="90">
                        <p class="md-title"> รู้จักเรา .... </p>
                        <p class="md-body-2">เว็บไซต์นี้จัดสร้างโดยเครือข่ายโรงพยาบาลกลุ่มสถาบันแพทยศาสตร์แห่งประเทศไทย หรือ UHosNet เพื่อเป็นช่องทางให้ คณะทำงานในโครงการ RDU Hospital (โรงพยาบาลส่งเสริมการใช้ยาอย่างสมเหตุผล) ทั้งในและนอกเครือข่าย บุคลากรทางการแพทย์ทุกระดับ
                            นักศึกษา และประชาชนทั่วไป ได้ศึกษาข้อมูลการใช้ยาอย่างถูกต้อง-เหมาะสม-เพียงพอ-ปลอดภัย บนพื้นฐานของหลักฐานความรู้ที่ดีที่สุด รวมทั้งสื่อเทคโนโลยีที่ผลิตขึ้นเพื่อให้ความรู้ความเข้าใจในการสั่งและใช้ยาทุกระดับ สามารถนำไปใช้หรือเผยแพร่ได้อย่างแพร่หลาย
                            ทั้งเพื่อการประชาสัมพันธ์สื่อสารกิจกรรมต่างๆ ที่เกี่ยวข้องกับโครงการ ให้เกิดการยกระดับคุณภาพการใช้ยาทั้งระบบทั่วประเทศ อนี่ง เว็บไซต์นี้จัดทำเพื่อเป็นแหล่งข้อมูล เพื่อการศึกษา และเพื่อการติดต่อสื่อสารในโครงการเพื่อการใช้ยาอย่างสมเหตุผล
                            มิได้มีเจตนาละเมิดลิขสิทธิ์ของผู้หนึ่งผู้ใด และไม่มีการซื้อขายในเว็บไซต์นี้ </p>
                        <p flex="100" class="md-subhead right">1 มิถุนายน 2559 </p>
                        <p </div>
                    </div>
                </div>
        </section>
    </md-content>
    <div class="divide-block"></div>
    </div>